.image-gallery {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  }
  .gallery-image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .gallery-image img {
  width: 100%;
  max-height: 250px;
  }
  .image-scroller {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  overflow-y: hidden;
  }
  .image-scroller img {
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid blue;
  }